.services > .row {
    /* display: flex;
    justify-content: space-around; */
    display: block;
   
    
}

.services > .row h3 {
    /* display: flex;
    
    justify-content: space-around; */
    padding-left: 20px;
    color: Black;
    
}

.services > .row p {
    /* display: flex;
    justify-content: space-around; */
    padding-left: 20px;
    color: white;
    padding-bottom: 50px;
    
}

.services{
    background-color:rgb(199, 123, 93) ;
    font-family: Lora;
}

.services h2{
    background-color:rgb(199, 123, 93);
    margin: 0 auto;
    font-family: Lora;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}