header{
    margin: 2px auto;
    /* margin-left: 300px ; */
    font-family: Lora,serif;
    /* text-align: center; */
    /* padding-top: 300px; */
    /* font-family: var(--ff-primary); */

}


header h1{
    margin:0;
    color: aliceblue;
    padding-top: 20px;
    }

header p{
    font-weight: var(--fw-reg);
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    margin: 0 auto;
    margin-bottom: 10px;
}

header a{
    box-shadow: 0px 3px 3px 0px rgb(115, 209, 123);
    color: aliceblue;
    background-color:rgb(49, 119, 224);
    font-size: 1.0rem;
    font-weight: 200;
    text-decoration: none;
    padding: 0.25rem 1.5rem;
    border-color: white;
    border-radius: 1.5rem;
   

    display: inline-block;
    /* above line of code and margin-btoon inparragraph  is used to make spacing b/w the pargragh and the button.  */
}
